/* Custom Table Row Style */

.custom-table-row:hover {
    background-color: #f0f2f5; 
  }
  
  /* Alternate row colors for better readability */
  .ant-table-tbody > tr:nth-child(even) {
    background-color: #fafafa; /* Light grey for odd rows */
  }
  
  .ant-table-tbody > tr:nth-child(odd) {
    background-color: #ffffff; /* White for even rows */
  }
  
  /* Custom Table Header Styling */
.ant-table-thead th {
    background-color: #1890ff !important; /* Ant Design primary color */
    color: white !important; /* White text for header */
    font-weight: bold !important; /* Bold text */
    text-align: center !important; /* Center-aligned text */
  }
  
  
  /* Custom Footer Button Styling */
  .ant-btn-primary {
    background-color: #1890ff; /* Matching primary button color */
    border-color: #1890ff;
  }
  
  .ant-btn-primary:hover {
    background-color: #40a9ff; /* Lighter blue on hover */
  }
  